<nav class="navbar navbar-expand-lg navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/bank">Pulpit</a>
      </li>
      <li class="nav-item" *ngIf="userService.hasPermission('BLOCK_ACCOUNT')">
        <a class="nav-link" routerLink="/bank/wallets">Lista portfeli</a>
      </li>
      <li class="nav-item" *ngIf="userService.hasPermission('ACCEPT_TRANSACTION')">
        <a class="nav-link" routerLink="/bank/accept">Przelewy do akceptacji</a>
      </li>
      <li class="nav-item" *ngIf="userService.hasPermission('MAKE_TRANSACTION') && wallet && !wallet.blocked">
        <a class="nav-link" routerLink="/bank/transaction">Wykonaj przelew</a>
      </li>
      <li class="nav-item" *ngIf="userService.hasPermission('MAKE_TRANSACTION')">
        <a class="nav-link" routerLink="/bank/history">Historia Twoich przelewów</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid main-container mt-4">
  <router-outlet></router-outlet>
</div>
