 <form *ngIf="!qrCode" [formGroup]="loginForm" (ngSubmit)="getQr()">
      <div class="form-group mt-3 w-100">
        <input type="email"
               name="email"
               id="email"
               formControlName="email"
               class="mx-auto w-100"
               placeholder="{{ 'HEADERS.AUTH.EMAIL' | translate }}"
               [ngClass]="{'input-invalid': email.invalid && (email.dirty || email.touched)}"
        >
      </div>
      <div class="mt-2" *ngIf="email.invalid && (email.dirty || email.touched)">
        Proszę podać prawidłowy adres Email
      </div>

      <div class="form-group mt-4 w-100">
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          class="mx-auto w-100"
          placeholder="{{ 'HEADERS.AUTH.PASSWORD' | translate }}"
          [ngClass]="{'input-invalid': password.invalid && (password.dirty || password.touched)}"
        >
        <div class="mt-2" *ngIf="password.invalid && (password.dirty || password.touched)">
          <p>Hasło musi mieć</p>
          <p> minimum 8 znaków</p>
        </div>

      </div>
      <div class="form-group mt-4 w-100">
        <div class="mb-2" *ngIf="error">
          {{ errorMessage | translate }}
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!loginForm.valid"
        >
          {{ 'HEADERS.AUTH.LOGIN' | translate }}
        </button>
      </div>
  </form>

  <div *ngIf="qrCode">
    <form [formGroup]="codeForm" (ngSubmit)="login()">
        <div class="form-group mt-3 w-100">
          <input type="text"
                 name="code"
                 id="code"
                 formControlName="code"
                 class="mx-auto w-100"
                 placeholder="Kod google"
          >
        </div>
        <div class="mt-2" *ngIf="code.invalid && (code.dirty || code.touched)">
          Kod jest nieprawidłowy
        </div>
        <div class="form-group mt-4 w-100">

          <button
            class="btn btn-success"
            [disabled]="!codeForm.valid"
          >
            {{ 'HEADERS.AUTH.LOGIN' | translate }}
          </button>
        </div>
    </form>
  </div>


