<form [formGroup]="registerForm">
    <div class="form-field mt-3">
      <input
        type="email"
        name="email"
        id="email"
        formControlName="email"
        class="mx-auto w-100"
        placeholder="Email"
        [ngClass]="{'input-invalid': email.invalid && (email.dirty || email.touched)}"
      >
    </div>
    <div class="form-field mt-4">
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
        class="mx-auto w-100"
        placeholder="Hasło (min. 8 znaków)"
        [ngClass]="{'input-invalid': password.invalid && (password.dirty || password.touched)}"
      >
    </div>
    <div class="form-field mt-4">
      <input
        type="text"
        name="phone"
        id="phone"
        formControlName="phone"
        class="mx-auto w-100"
        placeholder="Telefon komórkowy"
        [ngClass]="{'input-invalid': phone.invalid && (phone.dirty || phone.touched)}"
      >
    </div>

  <span class="text-warning ml-3" *ngIf="error">Wybrany e-mail jest już zajęty lub serwer napotkał problem. Prosimy spróbować później</span>

  <div class="form-buttons float-right mt-2">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="register()"
      [disabled]="!registerForm.valid"
    >
      Utwórz konto
    </button>
  </div>
</form>
