/* Chrome, Safari, Edge, Opera */
input.wallet-number::-webkit-outer-spin-button,
input.wallet-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
