<div class="row px-3 pt-1">
  <form [formGroup]="transactionForm" (ngSubmit)="makeTransaction()" class="mx-auto w-50">
    <div class="form-group mt-3 w-100">
      <input type="text"
             name="to_wallet_number"
             id="to_wallet_number"
             formControlName="to_wallet_number"
             class="px-2 wallet-number form-control"
             min="20"
             max="20"
             placeholder="Number odbiorcy"
             [ngClass]="{'input-invalid': to_wallet_number.invalid && (to_wallet_number.dirty || to_wallet_number.touched)}"
      >
    </div>
   <div class="form-group mt-3 w-100">
      <label for="amount">
        Wartość przelewu
      </label>
      <input type="number"
             name="amount"
             id="amount"
             formControlName="amount"
             class="px-2 form-control"
             step="0.01"
             value="0"
             [ngClass]="{'input-invalid': amount.invalid && (amount.dirty || amount.touched)}"
      >
   </div>


    <div class="form-group mt-4 w-100">
      <div class="mb-2" *ngIf="error">
        Podałeś zły numer konta lub nie posiadasz takiej liczby gotówki! Upenij się i spróbuj ponownie
      </div>
      <input
        type="submit"
        class="btn btn-primary"
        [disabled]="!transactionForm.valid"
        value="Wyślij"
      >
    </div>
  </form>
</div>
