<section class="container text-center">
  <header class="mt-5 text-uppercase main-header">
    Aktywacja konta
  </header>
  <main>
    <span class="font-large">{{message | translate}}</span>
  </main>
  <footer>
    <a class="btn btn-primary" href="game" *ngIf="auth.isLoggedIn()">Przejdź do gry</a>
    <a class="btn btn-primary" href="/" *ngIf="!auth.isLoggedIn()">Zaloguj się do gry</a>
  </footer>
</section>
