<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Od</th>
    <th scope="col">Do</th>
    <th scope="col">Kwota</th>
    <th scope="col">Data przesłania</th>
    <th scope="col">Status</th>
    <th scope="col">Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions">
    <td>{{transaction.from_wallet.wallet_number}}</td>
    <td>{{transaction.to_wallet.wallet_number}}</td>
    <td>{{transaction.value.toFixed(2)}} PLN</td>
    <td>{{transaction.created_at}}</td>
    <td>{{'TRANSACTIONS.STATUS.' + transaction.status | translate}}</td>
    <td>
      <i *ngIf="transaction.status == 0" class="far fa-check-circle text-success mr-1 accept-icon" (click)="acceptTransaction(transaction)"></i>
      <i *ngIf="transaction.status == 0" class="far fa-times-circle text-danger ml-1 accept-icon" (click)="rollbackTransaction(transaction)"></i>
    </td>
  </tr>
  </tbody>
</table>
