<div class="row">
  <div class="col-lg-6 col-md-12">
    <h2>Wpływy:</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Od</th>
        <th scope="col">Wartość</th>
        <th scope="col">Data wysłania</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of inboundTransactions">
        <td>{{transaction.from_wallet.wallet_number}}</td>
        <td>{{transaction.value.toFixed(2)}} PLN</td>
        <td>{{transaction.created_at}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-12">
    <h2>Wydatki:</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Do</th>
        <th scope="col">Wartość</th>
        <th scope="col">Status</th>
        <th scope="col">Data wysłania</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of outgoingTransactions">
        <td>{{transaction.to_wallet.wallet_number}}</td>
        <td>-{{transaction.value.toFixed(2)}} PLN</td>
        <td>{{"TRANSACTIONS.STATUS." + transaction.status | translate}}</td>
        <td>{{transaction.created_at}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
