<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Numer konta</th>
    <th scope="col">Zawartość</th>
    <th scope="col">Data utworzenia</th>
    <th scope="col">Status</th>
    <th scope="col">Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let wallet of wallets">
    <td>{{wallet.wallet_number}}</td>
    <td>{{wallet.amount.toFixed(2)}} PLN</td>
    <td>{{wallet.created_at}}</td>
    <td>{{'WALLETS.STATUS.' + wallet.blocked | translate}}</td>
    <td>
      <i *ngIf="wallet.blocked == 1" class="fas fa-unlock-alt text-success accept-icon" (click)="unlockWallet(wallet)"> Odblokuj</i>
      <i *ngIf="wallet.blocked == 0" class="fas fa-lock text-danger accept-icon" (click)="lockWallet(wallet)"> Zablokuj</i>
    </td>
  </tr>
  </tbody>
</table>
