<section class="container text-center">
  <header class="mt-5 text-uppercase main-header" *ngIf="!tokenIsProvided">
    Przypomnienie hasła
  </header>
  <header class="mt-5 text-uppercase main-header" *ngIf="tokenIsProvided">
    Ustaw nowe hasło
  </header>
  <main *ngIf="!tokenIsProvided">
    <form [formGroup]="sendMailForm" (submit)="sendResetMail()">
      <section class="w-100">

        <div class="form-group mt-4 w-100">
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            class="px-2"
            placeholder="Email"
            required
          >
        </div>

        <div class="form-group mt-4 w-100">
          <div class="mb-2">
            {{ errorMessage | translate }}
          </div>
          <input
            type="submit"
            value="Wyślij email"
          >
        </div>
      </section>
    </form>
  </main>


  <main *ngIf="tokenIsProvided">
    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
      <section class="w-100">

        <div class="form-group mt-4 w-100">
          <input
            type="password"
            name="password"
            id="password"
            formControlName="password"
            class="px-2"
            placeholder="{{ 'HEADERS.AUTH.PASSWORD' | translate }}"
            required
          >
<!--          <div class="mt-2" *ngIf="password.invalid && (password.dirty || password.touched)">
            <p>Hasło musi mieć</p>
            <p> minimum 8 znaków</p>
          </div>-->
        </div>


        <div class="form-group mt-4 w-100">
          <input
            type="password"
            name="password_confirmation"
            id="password_confirmation"
            formControlName="password_confirmation"
            class="px-2"
            placeholder="{{ 'HEADERS.AUTH.PASSWORD' | translate }}"
            required
          >

          <div *ngIf="resetPasswordForm.hasError('notSame')">
            Passwords do not match
          </div>
          <!--          <div class="mt-2" *ngIf="password.invalid && (password.dirty || password.touched)">
                      <p>Hasło musi mieć</p>
                      <p> minimum 8 znaków</p>
                    </div>-->
        </div>


        <div class="form-group mt-4 w-100">
          <div class="mb-2">
            {{ errorMessage | translate }}
          </div>
          <input
            type="submit"
            value="Zmień hasło"
          >
        </div>
      </section>
    </form>
  </main>
</section>
