<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4">
      Logowanie
      <auth-login></auth-login>
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      Rejestracja
      <auth-register></auth-register>
    </div>
  </div>
</div>

