@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body, html {
  min-height: 100vh;
  margin: 0 auto !important;
  background-color: #d5dae6;
  color: #0C1E47;
}
