<div *ngIf="wallet && !wallet.blocked" class="row mt-5">

  <div class="col-lg-6 col-md-6 col-sm-12 text-center">
    <h1><b>{{wallet.wallet_number}}</b></h1>
    <h5>Twój numer konta</h5>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 text-center">
    <h1><b>{{wallet.amount.toFixed(2)}} PLN</b></h1>
    <h5>Stan Twojego konta</h5>
  </div>

</div>

<div *ngIf="wallet && wallet.blocked" class="text-center mt-5">
  <p class="text-danger">Twoje konto jest zablokowane. Skontaktuj się z Nami w celu wyjaśnienia sprawy.</p>
</div>

<div *ngIf="user.hasRole('CALL_CENTER')" class="text-center mt-5">
  <h3>Witamy pracowniku Call Center! Możesz przejść do zakładki "Przelewy do akceptacji" i zweryfikować transakcje</h3>
</div>

<div *ngIf="user.hasRole('ADMIN')" class="text-center mt-5">
  <h3>Witamy na koncie administratora :)</h3>
</div>

<div class="row">
  <img [src]="user.getGoogleCode()" class="mx-auto d-block"/>
</div>
<div class="row">
  <p class="mx-auto">Zeskanuj ten kod aplikacją Google Authenticator. Przy następnych logowaniach zostaniesz o niego poproszony</p>
</div>
<div class="row" style="margin-top: 50px">
  <div class="col-lg-4 col-md-4 col-sm-12 text-center">
    <img src="../../../assets/images/money.jpg" class="img-fluid img-thumbnail">
    <p>Wiemy jak dbać o Twoje finanse</p>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 text-center">
    <img src="../../../assets/images/gold.jpg" class="img-fluid img-thumbnail">
    <p>Najlepsze lokaty na rynku</p>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 text-center">
    <img src="../../../assets/images/hand.jpg" class="img-fluid img-thumbnail">
    <p>Oszczędzaj razem z nami</p>
  </div>
</div>
